<div class="static ">
    
    
        <!-- <a mat-button href="/" routerLinkActive="active">Home</a>
        <a mat-button href="/product" routerLinkActive="active">Products</a>
        <a mat-button href="/cart" routerLinkActive="active">Cart</a>
        <a mat-button href="/about" routerLinkActive="active">About Us</a> -->
      


        <div class="topnav" id="myTopnav">
          <a href="/"><i class="bi bi-house-door"></i> Home</a>
          <a href="/product">Products</a>
          <a href="/cart"><i class="bi bi-cart-check"></i> Cart</a>
          <a href="/about">About Us</a>
          <a href="/profile"><i class="bi bi-person-circle" id="person"></i></a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>     