<!-- <mat-sidenav-container class="sidenav-container"> -->



  <!-- <mat-sidenav mode="side" opened>
  <mat-nav-list> -->
    <div class="sidebar">

      <button mat-button (click)="doFilter('men')" id="jwell">Jewellery</button>
      <button mat-button (click)="doFilter('women')" id="nighty">Nighty</button>
      <button mat-button (click)="doFilter('men')" id="saree">Saree</button>
      <button mat-button (click)="doFilter('women')" id="sudi">Sudi</button>

    </div>
  <!-- </mat-nav-list>

  </mat-sidenav> -->
 <!-- </mat-sidenav-container> -->

